
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>
    
      Taylor Faires
    
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/style.css' | url }}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
</head>
  <body>
    <div class="sidebar">
      <div class="container sidebar-sticky">
        <div class="sidebar-about">
          <h1>
            <a href="/">
                Taylor Faires
            </a>
          </h1>
          <p class="lead">Librarian. Technologist. Writer.</p>
        </div>
        <nav class="sidebar-nav">
          <a class="sidebar-nav-item" href="{{ '/' | url }}">Home</a>
          <a class="sidebar-nav-item" href="{{ '/cv' | url }}">CV</a>
          <a class="sidebar-nav-item" href="{{ '/projects' | url }}">Projects</a>
        </nav>
        <p>Blog theme based on <a href="https://github.com/poole/hyde">Hyde</a><br> Built using 11ty</p>
      </div>
    </div>
    <div class="content2 container">
      <div class="page">
  <h1 class="page-title">{{title}}</h1>
  <div class= "page-content">
  {{ content | safe }}
  </div>
</div>
    </div>
  </body>
</html>
